[submodule "GSock"]
	path = GSock
	url = https://github.com/kiritow/GSock
[submodule "NaiveThreadPool"]
	path = NaiveThreadPool
	url = https://github.com/kiritow/NaiveThreadPool
[submodule "LuaSrc"]
	path = LuaSrc
	url = https://github.com/Kiritow/LuaSrc
